@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
	margin: 0;
	padding: 0;
	background-color: #263238;
	font-family: 'Roboto', sans-serif;
}

* {
	box-sizing: border-box;
}

.gridContainer {
	display: grid;
	grid-template-rows: 56px 1fr 125px;
	grid-template-columns: 1fr;
	padding: 0 10%;
}

.gameFrame {
	background-color: #455A64;
	width: 100%;
	height: 100%;
	display: grid;
	margin: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	.gameField {
		border: 2px solid #263238;
		padding: 25%;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		cursor: pointer;
	}
	.gameField:hover {
		background-color: rgba(0, 230, 118, 0.05);
	  }
}

.gameScoreContainer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #455A64;
	z-index: 30;
	.gameInfo {
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		width: 100%;
		max-height: 200px;
		margin: auto;
		padding: 12px 12px;
		text-align: center;
	}
	.gameScore {
		h2 {
			font-size: 16px;
			color: #fff;
		}
		span {
			color: #263238;
			font-weight: 600;
			font-size: 26px;
		}
	}
}

#winScreen {
	background-color: rgba(38,50,56,0.8);
  height: 90%;
	width: 100%;
	padding-top: 96px;
	text-align: center;
  margin: 0 auto;
  display: none;
  justify-content: center;
	position: absolute;
	z-index: 20;
	.winContainer {
		color: white;
		width: 100%;
		max-height: 300px;
		transform: translateY(0%);
		h2 {
			font-size: 34px;
			font-weight: 600;
			letter-spacing: 3px;
			color: #00e676;
		}
		h5 {
			font-size: 16px;
			font-weight: 400;
		}
		a {
			font-size: 24px;
			font-weight: 600;
			cursor: pointer;
		}
	}
}

@media only screen and (min-width: 768px) {
	.gridContainer {
		padding: 0 15%;
	}
	.gameScoreContainer .gameScore h2 {
		font-size: 26px;
	}
	.gameScoreContainer .gameScore span {
		font-size: 46px;
	}
}

@media only screen and (min-width: 1024px) {
	.gridContainer {
		padding: 0 20%;
	}
	.gameScoreContainer .gameScore h2 {
		font-size: 36px;
	}
	.gameScoreContainer .gameScore span {
		font-size: 56px;
	}

	#winScreen {
		.winContainer {
  	color: white;
		width: 100%;
		max-height: 300px;
		h2 {
			font-size: 56px;
		}
		h5 {
			font-size: 24px;
		}
		a {
			font-size: 45px;
			}
		}
	}
}

@media only screen and (min-width: 1680px) {
	.gridContainer {
		padding: 0 32%;
	}
	.gameScoreContainer .gameScore h2 {
		font-size: 26px;
	}
	.gameScoreContainer .gameScore span {
		font-size: 36px;
	}
}

#circleSvg {
	#path {
		stroke-dasharray: 628.3185307179587;
		animation: circle 0.5s ease-in-out forwards;
		@keyframes circle {
			0% {
				stroke-dashoffset: 628.3185307179587;
			}
			100% {
				stroke-dashoffset: 0;
			}
		}
	}
}

#lineSvg {
	width: 50%;
	margin: auto;
	display: block;
	#line {
		stroke-dasharray: 180;
		animation: line 0.5s linear forwards;
		@keyframes line {
			0% {
				stroke-dashoffset: 180;
			}
			100% {
				stroke-dashoffset: 0;
			}
		}
	}
	#line2 {
		stroke-dasharray: 180;
		animation: line2 0.5s linear forwards;
	}
	@keyframes line2 {
		0% {
			stroke-dashoffset: 180;
		}
		50% {
			stroke-dashoffset: 180;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}
}

.winContainer {
	animation: winContainerAnimation 0.3s ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
	@keyframes winContainerAnimation {
		0% {
			transform: translateY(-180%);
		}
		20% {
			transform: translateY(-125%);
		}
		100% {
			transform: translateY(0%);
		}
	}
}